# Ignore node_modules and npm debug log
node_modules
npm-debug.log

# Ignore local environment files
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local

# Ignore logs and temporary files
logs
*.log
*.tmp
.tmp/

# Ignore build directories
.next
out
dist

# Ignore configuration directories
.gitlab
.husky
.prettier
.vercel

# Ignore Docker-specific files
Dockerfile*
docker-compose*
compose*
*.dockerignore

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp
*~
